Repository shaqi-dev/rs-lang-client, pull requests merged in 2022-09, with the labels that each got.

#123 Global fixes
  .eslintrc.js
  src/App.tsx
  src/components/Counter/Counter.module.scss
  src/components/Counter/Counter.tsx
  src/components/Counter/index.ts
  src/components/Logo/Logo.tsx
  src/components/NavBar/NavBar.tsx
  src/components/SprintGameBegin/SprintGameBegin.tsx
  src/components/SprintGameContent/SprintGameContent.tsx
  src/components/WordList/WordList.tsx
  src/index.tsx
  src/pages/Audiocall/Audiocall.tsx
  src/pages/Home/Home.tsx
  src/pages/SprintGame/SprintGame.tsx
  src/pages/Textbook/Textbook.tsx
  src/services/createUser.ts
  src/services/createUserWord.ts
  src/services/endpoints.ts
  src/services/getUserWordById.ts
  src/services/loginUser.ts
  src/services/updateUserWord.ts
  src/services/words.ts
  src/shared/authErrors.ts
  src/store/counter/counter.slice.ts
  src/store/index.ts
Labels: bug, global

#125 Footer & global styles
  src/assets/svg/rs-school-logo.svg
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Logo/Logo.module.scss
  src/components/WordCard/WordCard.module.scss
  src/layouts/ContentWrapper/ContentWrapper.module.scss
  src/pages/Home/Home.module.scss
  src/styles/_variables.scss
Labels: global, home-page

#127 Fix use get game words logic when not enough unlearned words
  src/components/AudiocallAnswers/AudiocallAnswers.tsx
  src/components/AudiocallGame/AudiocallGame.tsx
  src/components/AudiocallResult/AudiocallResult.tsx
  src/components/SprintGameContent/SprintGameContent.tsx
  src/hooks/useGetGameWords.ts
  src/interfaces/userWords.ts
  src/pages/Audiocall/Audiocall.tsx
  src/pages/SprintGame/SprintGame.tsx
  src/services/userAggregatedWordsApi.ts
  src/services/userWordsApi.ts
Labels: bug, sprint-game, audiocall-game, stats-page

#129 Main page design
  src/App.tsx
  src/assets/img/audiocall.jpg
  src/assets/img/maria.png
  src/assets/img/mikhail.png
  src/assets/img/sprint.jpg
  src/assets/img/textbook.jpg
  src/assets/img/vlad.png
  src/assets/svg/bird.svg
  src/components/AudiocallResult/AudiocallResult.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Logo/Logo.module.scss
  src/components/NavBar/Dropdown/Dropdown.module.scss
  src/components/NavBar/NavBar.module.scss
  src/components/NavBar/NavBar.tsx
  src/components/SprintGameContent/SprintGameContent.tsx
  src/pages/Audiocall/Audiocall.tsx
  src/pages/Home/Home.module.scss
  src/pages/Home/Home.tsx
  src/store/audiocall/audiocallSlice.ts
  src/styles/_base.scss
Labels: home-page, design

#131 Remove unused vars
  src/components/SprintGameContent/SprintGameContent.tsx
  src/pages/Home/Home.module.scss
  src/pages/Home/Home.tsx
Labels: refactor, home-page

#132 fix: contrast problems with white bg
  src/components/WordCard/WordCard.module.scss
  src/components/forms/SignInForm/SignInForm.module.scss
  src/components/forms/SignUpForm/SignUpForm.module.scss
Labels: bug, design

#133 Audiocall final style
  src/assets/svg/circle-audio-button.svg
  src/assets/svg/clock-icon.svg
  src/assets/svg/default-audio-button.svg
  src/components/AudiocallAnswers/AudiocallAnswers.module.scss
  src/components/AudiocallAnswers/AudiocallAnswers.tsx
  src/components/AudiocallGame/AudiocallGame.module.scss
  src/components/AudiocallGroupItem/AudiocallGroupItem.module.scss
  src/components/AudiocallGroupItem/AudiocallGroupItem.tsx
  src/components/AudiocallGroupList/AudiocallGroupList.module.scss
  src/components/AudiocallMeaning/AudiocallMeaning.module.scss
  src/components/AudiocallMeaning/AudiocallMeaning.tsx
  src/components/AudiocallResult/AudiocallResult.module.scss
  src/components/AudiocallResult/AudiocallResult.tsx
  src/components/Header/Header.tsx
  src/components/NavBar/NavBar.module.scss
  src/layouts/ContentWrapper/ContentWrapper.module.scss
  src/pages/Audiocall/Audiocall.module.scss
  src/pages/Audiocall/Audiocall.tsx
Labels: audiocall-game, design

#135 Responsive design
  package-lock.json
  package.json
  src/assets/svg/burger-icon.svg
  src/components/AudiocallAnswers/AudiocallAnswers.module.scss
  src/components/AudiocallGame/AudiocallGame.module.scss
  src/components/AudiocallGame/AudiocallGame.tsx
  src/components/AudiocallGroupItem/AudiocallGroupItem.module.scss
  src/components/AudiocallGroupList/AudiocallGroupList.module.scss
  src/components/AudiocallMeaning/AudiocallMeaning.module.scss
  src/components/AudiocallResult/AudiocallResult.module.scss
  src/components/AudiocallResult/AudiocallResult.tsx
  src/components/Button/Button.module.scss
  src/components/Chart/Chart.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/NavBar/NavBar.module.scss
  src/components/NavBar/NavBar.tsx
  src/components/Paginate/Paginate.module.scss
  src/components/SprintGameContent/SprintGame.module.scss
  src/components/SprintGameContent/SprintGameContent.tsx
  src/components/SprintGameResult/SprintGameResult.module.scss
  src/components/SprintGameResult/SprintGameResult.tsx
  src/components/SprintGroupList/SprintGroupList.module.scss
  src/components/WordCard/WordCard.module.scss
  src/components/WordCard/WordCard.tsx
  src/components/WordsGroupItem/WordsGroupItem.module.scss
  src/components/WordsGroupItem/WordsGroupItem.tsx
  src/components/WordsGroupList/WordsGroupList.module.scss
  src/components/WordsGroupList/WordsGroupList.tsx
  src/components/forms/SignInForm/SignInForm.module.scss
  src/components/forms/SignInForm/SignInForm.tsx
  src/components/forms/SignUpForm/SignUpForm.module.scss
  src/components/forms/SignUpForm/SignUpForm.tsx
  src/index.tsx
  src/pages/Audiocall/Audiocall.module.scss
  src/pages/Auth/Auth.module.scss
  src/pages/Auth/Auth.tsx
  src/pages/Home/Home.module.scss
  src/pages/Home/Home.tsx
  src/pages/SprintGame/SprintGame.module.scss
  src/pages/Statistics/Statistics.module.scss
  src/pages/Statistics/Statistics.tsx
  src/pages/Textbook/Textbook.module.scss
  src/pages/Textbook/Textbook.tsx
  src/styles/_variables.scss
Labels: design

#136 Global refactor & fixes
  README.md
  src/components/WordCard/WordCard.tsx
  src/hooks/useAudio.ts
  src/pages/Textbook/Textbook.tsx
Labels: bug, global, refactor
